.header-items{
    margin: 5px 0;
    }
.header-bg .grid{
grid-template-columns: 1fr;
gap: 10%;
}
.header-item-1{
margin: auto;
}
.header-item-1 h2{
font-size: 6rem;
color: var(--primary-color);
text-align: center;
}
.header-item-1 p{
font-size: 2rem;
text-align: center;
font-weight: bold;
margin-bottom: 10px;
text-transform: capitalize;
}
.header-img img{
position: absolute;
top: 65%;
right: 12%;
width: 70%;
height: 60vh;
}
.header-item-2 svg{
width: 108%;
height: 100%;
}
@media(min-width:776px){
.header-bg .grid{
grid-template-columns: repeat(2,1fr);
}
.header-item-2 svg{
width: 120%;
height: 100%;
}
.header-img img{
position: absolute;
top: 30%;
right: 3%;
width: 40%;
height: 70vh;
}
}
@media(max-width:450px){
.header-items img{
    position: absolute;
    top: 68%;
    left: 22%;
    width: 55%;
    height:35vh;
}
.header-item-1 button{
    margin: 0 15%;
}
}


/* second section */
.header-items-2{
margin-top: 12rem;
position: relative;
}
.header-item-022:nth-child(2){
order: -1;
}
.fa-users{
margin-left: 40%;
}
.header-item-022 h2{
text-align: center;
margin: 1rem 0;
font-size: 2rem;
}
.header-item-022 p{
text-align: center;
margin: 1rem 0;
font-size: 1rem;
letter-spacing: 1px;
}
.header-item-022 span{
color: var(--primary-color);
}
.header-item-022.trav{
margin: 0 2rem; 
}
.fa-play-circle{
padding:2px;
}
.header-item-022 a{
color: #000;
}

.ima-1 img{
width: 100%;
height: 55vh;
opacity: 0.1;
}
.ima-2 img{
position: absolute;
top: 50%;
left: 20%;
width: 60%;
height: 45vh;
}
@media(min-width:776px){
  .header-item-022:nth-child(2){
order: 1;
  }  
.ima-2 img{
position: absolute;
top: 2%;
left: 0%;
width: 55%;
height: 50vh;
}
}
@media(max-width:450px){
.header-item-022 .trav{
    margin: 0 3rem; 
    }
.fa-play-circle{
    padding:10px;
    }
}


/* third section */
.third-items{
margin-top: 9rem;
position: relative;
}
.fa-car{
margin-left: 40%;
}
.third-items span{
color: var(--primary-color);
}
.third-items h2{
margin: 1rem 0;
font-size: 2rem;
text-align: center;
}
.third-items p{
margin: 1rem 0;
font-size: 1rem;
text-align: center;
letter-spacing: 1px
}
.third-item .trav{
    margin: 0 2rem; 
    }.fa-play-circle{
        padding:4px;
        }
        .header-item-022 a{
        color: #000;
        }
.third-item .fa-play-circle{
padding:2px;
}
.third-item  a{
color: #000;
padding:4px;
}
.ima img{
width: 100%;
height: 80vh;
opacity: 0.1;
}
.ima-3 img{
position: absolute;
top: 40%;
left: 10%;
width: 90%;
height: 100vh; 
}
@media(min-width:776px){
.ima-3 img{
    position: absolute;
    top: -20%;
    left: 58%;
    width: 50%;
    height: 100vh; 
    }
}
@media(max-width:450px){
.third-item .trav{
    margin: 0 2rem; 
    }
.third-item .fa-play-circle{
    padding:10px;
    }
    
}


/* section four */
.items-four{
margin-top: 16rem;
position: relative;
}
.item-four:nth-child(2){
order: -1;
}
.fa-truck{
margin-left: 40%;
}
.item-four h2{
text-align: center;
font-size: 2rem;
margin: 1rem 0;
}
.item-four span{
color: var(--primary-color);
}
.item-four p{
text-align: center;
font-size: 1rem;
letter-spacing: 1px;
margin: 1rem 0;
}
.items-four .trav{
    margin: 0 2rem; 
    }
.items-four .fa-play-circle{
padding:2px;
}
.items-four  a{
color: #000;
padding:4px;
}
.sub-item img{
width: 80%;
height: 60vh;
opacity: 0.1;
}
.sub-item2 img{
position: absolute;
top: 50%;
width: 80%;
height: 50vh; 
}
@media(min-width:776px){
.item-four:nth-child(2){
    order: 1;
    }   
.sub-item2 img{
    position: absolute;
    top: -15%;
    width: 40%;
    height: 80vh; 
    }
}
@media(max-width:450px){
.items-four .trav{
    margin: 0 2rem; 
    }
.items-four .fa-play-circle{
    padding:10px;
    }
}


/* section five */
.items-five{
margin-top: 16rem;
position: relative; 
}
.fa-globe-africa{
margin-left: 40%;
}
.items-five h2{
text-align: center;
margin: 1rem 0;
font-size: 2rem;
}
.items-five span{
color: var(--primary-color);
}
.items-five p{
text-align: center;
font-size: 1rem;
letter-spacing: 1px;
margin: 1rem 0;
}
.item-five button{
    margin: 1rem 1rem; 
}
.sub-five img{
width: 80%;
height: 60vh;
opacity: 0;
}
.sub-five2 img{
position: absolute;
top: 50%;
left: 0;
width: 80%;
height: 50vh; 
}

@media(min-width:776px){
  
    .sub-five img{
        width: 100%;
        height: 80vh;
        opacity: 0;
        } 
        .sub-five2 img{
        position: absolute;
        top: 4%;
        left: 55%;
        width: 40%;
        height: 80vh; 
        } 
}
@media(max-width:450px){
    .item-five button{
        margin: 0.5rem 3rem; 
    }
}
    
/* section six */
.text{
margin: 5rem 0; 
}
.text span{
color: var(--primary-color);
}
.text h2{
text-align: center;
margin: 1rem 0;
font-size: 2rem;
}
.text p{
text-align: center;
font-size: 1rem;
letter-spacing: 1px;
margin: 1rem 0;
}
@media(min-width:776px){
.text p{
text-align: center;
font-size: 1rem;
letter-spacing: 1px;
margin: 1rem 10rem;
}
}

/* section seven */
.card-items .grid{
    gap: 30px;
}
.card-image{
  width: 100%;
  height: 50vh;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;

}
.card-info{
  margin: 20px ;  
}
.card-info h3{
   text-align: center;
  }
@media(min-width:776px){
.card-items .grid{
   grid-template-columns: repeat(4,1fr);
}   
}


/* section eight */
.backgb-eight{
    margin-top: 16rem;
    padding: 10%;
}
.last-man h2{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -5rem;
}
.last-man p{
    text-align: center; 
    margin: 2rem 0;
    color: #fff; 
    letter-spacing: 1px;
}
.last-man .trav{
    margin: 0 -1rem; 
    } 
.fa-play-circle{
    padding: 10px;
}
.last-man a{
    color: #fff;
    
}
@media(min-width:776px){
    .last-man h2{
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        margin-top: -5rem;
    } 
    .last-man p{
        text-align: center; 
        margin: 2rem 0;
        color: #fff; 
        margin: 2rem 6rem;
        font-size: 1.5rem;  
    } 
    .last-man .trav{
        margin: 0 20rem; 
        } 
}
@media(max-width:450px){
    .last-man h2{
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: -5rem;
    }
     
.last-man .fa-play-circle{
padding:10px;
}
.last-man .trav{
    margin: 0 1rem;
}
}